/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Open Sans", "Helvetica Neue",
}
body {
    background-color: teal;
}
button {
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
}